#entornos {
  background: linear-gradient(to bottom right, #0d0f11, #32797d);
  padding: 50px 0;
  color: #f5f5f5;
}

#entornos .card-title {
  color: #1c1c1c;
}

#entornos .alert-info {
  background-color: #e7f3fe;
  color: #31708f;
}

#entornos .alert-info .bi {
  color: #31708f;
}
